body {
  margin: 0;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(60deg, #100664, #7231bd);
  background-size: 200% 200%;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  animation: gradient-shift 8s linear infinite;

  /* Prevent iPhone top/bottom white space */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.calculator {
  background-color: #424242;
  width: 60vh;
  height: 80vh;
  border-radius: 40px;
  box-shadow: 4px 15px 25px rgba(0, 0, 0, 0.7), inset 2px 4px 10px rgba(255, 255, 255, 0.1), inset -2px -4px 10px rgba(0, 0, 0, 0.4);
}

.calculator-header {
  margin-left: 30px;
  color: #ffffff;
  font-size: 28px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85%;
}

.calculator-body {
  display: grid;
  width: 85%;
  height: 95%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 50% 50%;
  }

  75% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 0% 0%;
  }
}