@font-face {
    font-family: "Digital-7";
    src: url("../assets/fonts/digital-7.regular.ttf") format("truetype");
}

[screen-theme="On"] {
    --screen-background-color: linear-gradient(180deg, #96ce86, #51b662, #01a001, #185626);
}

[screen-theme="Off"] {
    --screen-background-color: #000000;
}

.input-screen {
    grid-column-start: 1;
    grid-column-end: 6;
    outline: 0;
    font-size: 40px;
    font-family: "Digital-7", sans-serif;
    text-align: right;
    padding: 0px 10px;
    background: var(--screen-background-color);
    box-shadow: inset 0px 4px 18px rgba(0, 0, 0, 0.5);
}

button {
    cursor: pointer;
    border-radius: 10px;
    font-size: 27px;
    color: #ffffff;
    background-color: #262626;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.5);
}

.button0,
.button1 {
    background: #d84130;
}

.button2 {
    background: #e17f29;
    color: white;

    grid-column-start: 3;
    grid-column-end: 5;
}

.button17 {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 4;
}

.button3,
.button7,
.button8,
.button12,
.button13,
.button17,
.button18 {
    background-color: #686868;
}

.button22 {
    background: #16a26a;
}