body{
  margin: 0;
}
.root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(60deg, #100664, #7231bd);
  background-size: 200% 200%;
  height: 100vh;
  width: 100%;
  animation: gradient-shift 8s linear infinite;
}
.calculator-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  width: 60vh;
  height: 80vh;
  border-radius: 40px;
}
@keyframes gradient-shift {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}